<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
      <title>CoreNLP | Training Home</title>
      
      <!-- Google Fonts -->
  	  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
      
      <!-- Bootstrap core CSS -->
      <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <!-- Custom styles for this template -->
      <link href="css/simple-sidebar.css" rel="stylesheet">
      <link href="css/style.css" rel="stylesheet">
      
      
   </head>
   <body>
      <div class="d-flex" id="wrapper">
         <!-- Sidebar -->
        <!--  <div class="bg-light border-right" id="sidebar-wrapper">
            <div class="sidebar-heading">Core NLP</div>
            <div class="list-group list-group-flush">
               <a href="#" class="list-group-item list-group-item-action bg-light">Trainings</a>
            </div>
         </div> -->
         <!-- /#sidebar-wrapper -->
         <!-- Page Content -->
         <div id="page-content-wrapper">

		  <!-- ======= Header ======= -->
		  <header id="header" class="fixed-top ">
		    <div class="container d-flex align-items-center">
		      <!-- <a href="index.html" class="logo mr-auto"><img src="{{ url_for('static', filename='images/ml-upakaranna.png') }}" alt="" class="img-fluid"></a> -->
		      <h1 class="logo m-auto"><a href="/">CoreNLP Dashboard</a></h1>
		
		    </div>
		  </header><!-- End Header -->
         	
            <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
               <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button>
               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
               </button>
               <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                     <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                     </li>
                     <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                           <a class="dropdown-item" href="#">Action</a>
                           <a class="dropdown-item" href="#">Another action</a>
                           <div class="dropdown-divider"></div>
                           <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                     </li>
                  </ul>
               </div>
            </nav> -->
            <div class="container-fluid mt-5">
                  <div id="trainingToast" role="alert" aria-live="assertive" aria-atomic="true" class="toast">
                     <div class="toast-body">
                        <span id="toast-message">This is a toast message.</span>
                        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                     </div>
                  </div>
               <div class="row p-2 mb-5">
                  <div class="col-md-4 col-sm-6 shadow border-secondary rounded m-4">
                     <div class="row m-1">
                        <h2 class="">New Training</h2>
                     </div>
                     <form id="new-training-form" enctype="multipart/form-data" class="needs-validation" method="POST">
                        <div class="form-row">
                           <label class="sr-only" for="inlineFormInput">Model Name</label>
                           <div class="input-group mb-2">
                              <div class="input-group-prepend">
                                 <div class="input-group-text">Model Name</div>
                              </div>
                              <input type="text" class="form-control" name="model_name" id="model_name" value="ner-model-beauty.ser.gz" required>
                           </div>
                        </div>
                        <div class="form-row">
                           <label class="sr-only" for="inlineFormInputGroup">tolerance</label>
                           <div class="input-group mb-2">
                              <div class="input-group-prepend">
                                 <div class="input-group-text">tolerance</div>
                              </div>
                              <input type="text" class="form-control" name="tolerance" id="tolerance" value="0.5" required>
                           </div>
                        </div>
                        <div class="form-row">
                           <div class="custom-file">
                              <input type="file" class="custom-file-input" id="files" name="files" accept="*" required>
                              <label class="custom-file-label" for="customFile">Choose file</label>
                           </div>
                        </div>
                        
                        <div class="form-row mt-2">
                        <div class="form-check form-check-inline">
						  <input checked class="form-check-input" type="radio" name="training_type" id="training_type1" value="ner">
						  <label class="form-check-label" for="inlineRadio1">NER</label>
						</div>
						<div class="form-check form-check-inline">
						  <input class="form-check-input" type="radio" name="training_type" id="training_type2" value="sentiment">
						  <label class="form-check-label" for="inlineRadio2">Sentiment</label>
						</div>
						<div class="form-check form-check-inline">
						  <input class="form-check-input" type="radio" name="training_type" id="training_type3" value="pos" disabled>
						  <label class="form-check-label" for="inlineRadio3">POS (disabled)</label>
						</div>
                        
                        </div>
                        
                        <div class="form-row mt-2">
                           <button id="new-training" style="width: 100px;" type="submit" class="btn btn-primary mb-2">Execute</button>
                        </div>
                     </form>
                  </div>
                  
                  <div class="col-md-7 col-sm-6 shadow border-secondary rounded m-4">
                     <div class="row m-1">
                        <h2>Training History (Last 5)</h2>
                     </div>
                     <div class="row m-1">
                        <table class="table border text-center">
                           <thead style="background-color: #37517e; color: #fff; ">
                              <tr>
                                 <th>Job Id</th>
                                 <th>Type</th>
                                 <th>Status</th>
                                 <th class="d-none d-sm-table-cell">Refresh Status</th>
                                 <th class="d-none d-sm-table-cell">Download Model</th>
                              </tr>
                           </thead>
                           <tbody id="job-history">
                              <tr
                                 th:id = "${'job_'+item.execution_id}"
                                 th:each="item, iStat : ${items}">
                                 <td th:text="${item.execution_id}" />
                                 <td th:text="NER" />
                                 <td th:id = "${'status_'+item.execution_id}" th:text="${item.job_status}" />
                                 <td class="d-none d-sm-table-cell"><button th:disabled="${item.job_status == 'COMPLETED'}" th:attr="data-value=${item.execution_id}" th:id="${'refresh_'+item.execution_id}" type="button" class="btn btn-primary jobrefresh">refresh</button></td>
                                 <td class="d-none d-sm-table-cell"><button th:attr="data-value=${item.execution_id}" th:id="${'download_'+item.execution_id}" type="button" class="btn btn-primary download">download</button></td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                  </div>
               
               
               
               
               </div>
               <hr>
               
               
            </div>
         </div>
         <!-- /#page-content-wrapper -->
      </div>
      <!-- /#wrapper -->
      
      <!-- Bootstrap core JavaScript -->
      <script src="vendor/jquery/jquery.min.js"></script>
      <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	  <!-- Custom script-->
	  <script src="js/common.js"></script>
	  
	  <script>
		// Example starter JavaScript for disabling form submissions if there are invalid fields
		(function() {
		  'use strict';
		  window.addEventListener('load', function() {
		    // Fetch all the forms we want to apply custom Bootstrap validation styles to
		    var forms = document.getElementsByClassName('needs-validation');
		    // Loop over them and prevent submission
		    var validation = Array.prototype.filter.call(forms, function(form) {
		      form.addEventListener('submit', function(event) {
		        if (form.checkValidity() === false) {
		          event.preventDefault();
		          event.stopPropagation();
		        }
		        form.classList.add('was-validated');
		      }, false);
		    });
		  }, false);
		})();
		</script>
	  
   </body>
</html>